<div class="widget newsletter-widget">
  <div class="widget-title">
    <h3 class="h5 title-border">{{ site.Params.subscription.newsletter_title }}</h3>
  </div>
  <p class="mb-3 small text-light-900">{{ site.Params.subscription.newsletter_invitation }} </p>
  {{ with site.Params.subscription }}
  <form class="row g-3 mb-3" action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ site.Params.subscription.newsletter_placeholder }}" id="inputEmail4" required><i class="fas fa-envelope"></i>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" name="subscribe" class="btn btn-primary w-100">{{ site.Params.subscription.newsletter_button }}</button>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
      </div>
    </div>
  </form>
  {{ end }}
  <p class="text-light-900 small content">{{ site.Params.subscription.newsletter_reminder_a }} <a href="{{`privacy-policy`| relLangURL}}/" class="text-light-900"><strong>{{ site.Params.subscription.newsletter_reminder_b }}</strong></a></p>
</div>