[build]
  publish = "exampleSite/public"
 command = "cd exampleSite && hugo --minify --gc --themesDir ../.."

[build.environment]
  HUGO_VERSION = "0.145.0"
  HUGO_THEME = "repo"
  HUGO_BASEURL = "/"

[[headers]]
  for = "/*"

[headers.values]
  X-Frame-Options = "DENY"
  X-XSS-Protection = "1; mode=block"
  Referrer-Policy = "same-origin"
  Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
