{{ define "main" }}

<!--=================== about section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        {{ partial "image.html" (dict "Src" .Params.image "Alt" .Title "Class" "img-fluid mb-5 w-100 rounded-4" ) }}
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
    <div class="row">
      {{ with .Params.education }}
      {{ if .enable }}
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">{{ .title | markdownify }}</h2>
          <div class="row">
            {{ range .education_list }}
            <div class="col-md-6 mb-3">
              <h4 class="h5 mb-2">{{ .name | markdownify }}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.experience }}
      {{ if .enable }}
      <div class="col-md-6">
        <div class="border rounded p-4">
          <h2 class="mb-5 h4 title-border">{{ .title | markdownify }}</h2>
          <ul class="list-styled" style="columns:2">
            {{ range .experience_list }}
            <li>{{ . | markdownify}}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<!--=================== about section end ===================-->

{{ end }}
