<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{{ .Site.BaseURL }}",
          "name": "Home"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{{ "/blog/" | relURL | absURL }}",
          "name": "Blog"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "{{ .Permalink }}",
          "name": "{{ .Title | humanize }}"
        }
      }
    ]
  }
  </script>
