<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ "/" | absURL }}",
        "@id": "{{ "/" | absURL }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Blog",
        "item": "{{ "/blog/" | relURL | absURL }}",
        "@id": "{{ "/blog/" | relURL | absURL }}"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ .Title }}",
        "item": "{{ .Permalink }}",
        "@id": "{{ .Permalink }}"
      }
    ]
  }
  </script>
