<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "headline": "{{ .Title }}",
      "description": "{{ .Params.description }}",
      "image": "{{ .Params.image | absURL }}",
      "author": {
        "@type": "Person",
        "name": "Dejuan Jones"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Earn Money Online",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ .Site.BaseURL }}/images/logo.png"
        }
      },
      "datePublished": "{{ .PublishDate.Format "2024-01-05T08:00:00+08:00" }}",
      "dateModified": "{{ .Lastmod.Format "2024-02-05T09:20:00+08:00" }}"
    }
    </script>
    
